body {
	background: #2b2b2b;
	color: #c2c2c2;
	font-family: "verdana";
	margin: 0 0;
}

input {
	height: 15px;
	width: 100%;
 	border: none;
 	outline: none;
 	text-align: center;
 	padding: 0 0;
 	font-size: inherit;
 	font-family: inherit;
 	font-weight: inherit;
 	background: inherit;
 	color: inherit;
 	border-bottom: solid 1px white;
}

#timeselect {
	height:200px;
	margin-top: 40px;

}

#play {
	margin-left: 129px;
}

.btn {
	display:inline-block;
	margin-left: 20px;
	vertical-align: middle;
}

.timebox {
	width: 20px;
	text-align: center;
	border: solid 2px #990000;
	padding: 20px 20px;
}

.timebox:hover {
	background-color: #494949;
}

.divider {
	width: 10px;
	height: 100px;
	border-right: solid 2px #c2c2c2;
	margin-left: 10px;
}

.action {
	margin-top: 5px;
}

#clock {
	color: white;
	text-align: center;
	width: 100%;
	font-size: 250px;
	letter-spacing: -15px;
}

