body {
	background-color: #0059b3;
	font-family: "Avenir", "Georgia";
	text-align: center;
	color: white;
	-webkit-animation: fadein 1.0s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1.0s; /* Firefox < 16 */
        -ms-animation: fadein 1.0s; /* Internet Explorer */
         -o-animation: fadein 1.0s; /* Opera < 12.1 */
            animation: fadein 1.0s;
}

p {
	letter-spacing: 0.5px;
	font-weight: 500;
	font-size: 125%;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

button {
	border: none;
	margin: 20px 15px;
	height: 50px;
	width: 50px;
	border-radius: 25px;
	box-shadow: 5px 5px black;
	outline: none;
}

button:active {
	transform: translateY(5px) translateX(5px);
	box-shadow: 0px 0px grey;
}


#canvas {
	background-color: #fff4db;
    width: 400px;
    height: 400px;
	margin: 30px auto;
}

#toprow {
	height: 290px;
}

#bigbox {
	width: 290px;
	height: 290px;
}

#divider {
	width: 10px;
	height: 290px;
}

#topleftcol {
	width: 100px;
}
.medbox {
	width: 100px;
	height: 140px;
}

#divider2 {
	width: 100px;
	height: 10px;
}

#divider3 {
	width: 400px;
	height: 10px;
}

#botrow {
	height: 100px;
}

#rightcol {
	width: 50px;
	height: 100px;
}

.smallbox {
	width: 50px;
	height: 45px;
}

#divider4 {
	width: 50px;
	height: 10px;
}

#divider5 {
	width: 10px;
	height: 100px;
}

#botbox {
	width: 230px;
	height: 100px;
}

#botbox2 {
	width: 100px;
	height: 100px;
}

.right {
	float: right;
}

.red {
	background-color: red;
}

.blue {
	background-color: blue;
}

.yellow {
    background-color: yellow;   
}

.black {
    background-color: black;   
}

.empty {
	background-color: #fff4db;
}